---
import Header from '@/components/app/Header.astro';
import Footer from '@/components/app/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="bg-body min-h-full font-sans">
    <div class="flex flex-col h-dvh">
      <Header />
      <main class='pt-40 pb-20 flex-auto'>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
